data/Payment.xml

<!ELEMENT Payment (Payment.paymentID, Payment.bookingID, Payment.carID, Payment.date, Payment.cost, Payement.method)>
<!ATTLIST Payment #REQUIRED>

<!ELEMENT Payment.paymentID (#PCDATA)>
<!ELEMENT Payment.bookingID (#PCDATA)>
<!ELEMENT Payment.carID (#PCDATA)>
<!ELEMENT Payment.date (#PCDATA)>
<!ELEMENT Payment.cost (#PCDATA)>
<!ELEMENT Payement.method (#PCDATA)>

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE PAYEMENT SYSTEM "Payemnt.dtd">
<Payment>
    <Payment.paymentID>"1234"</paymentID>
    <Payment.bookingID>"512"</bookingID>
    <Payment.carID>"001"</carID>
    <Payment.date>"01/01/25"</date>
    <Payment.cost>"24.99"</cost>
    <Payement.method>"Visa"</method>
</Payment>




<!ELEMENT methods (method+)>
<!ELEMENT method EMPTY>
<!ATTLIST method
    name CDATA #REQUIRED
    visibility (public | private | protected) #REQUIRED
    returnType CDATA #REQUIRED
>
<class name="Payment">
    <attributes>
        <attribute name="paymentID" type="String" visibility="private"/>
        <attribute name="bookingID" type="String" visibility="private"/>
        <attribute name="carID" type="String" visibility="private"/>
        <attribute name="date" type="String" visibility="private"/>
        <attribute name="cost" type="Double" visibility="private"/>
        <attribute name="paymentMethod" type="String" visibility="private"/>
    </attributes>
    <methods>
        <method name="processPayment" visibility="public" returnType="boolean"/>
        <method name="refundPayment" visibility="private" returnType="boolean"/>
        <method name="viewPaymentDetails" visibility="private" returnType="void"/>
    </methods>
</class>
